body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #3498db, #2980b9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
}

.form-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    margin: 20px; /* Increased margin for more spacing */
}

.hidden {
    display: none;
}

button {
    background-color: #3498db;
    color: #ffffff;
    padding: 15px; /* Increased padding for more spacing */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px; /* Increased font size for better visibility */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

label {
    display: block;
    text-align: left;
    margin: 20px 0; /* Increased margin for more spacing */
    color: #333;
}

h2 {
    color: #3498db;
    margin-bottom: 20px; /* Increased margin for more spacing */
}

.message a {
    color: #3498db;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}
